<!DOCTYPE html>
<html>
  <head>
    <title>RailsNews</title>
    <%= csrf_meta_tags %>
    <link href="//cdn.muicss.com/mui-0.9.28/css/mui.min.css" rel="stylesheet" type="text/css" media="screen" />
  </head>

  <body>
  	<div id="root">
	    <%= yield %>
  	</div>
  </body>
</html>
